/.venv
/20241216_id_authors_for_nbs_xml_no_marc_namespace.py
/20241216_v2_id_authors_for_nbs_xml_no_marc_namespace.py
/20241217_nbs_id_scot_author_matched_bibrecs.xml
/20241219_nbs_id_scot_author_matched_bibrecs.xml
/20241219_v3_id_authors_for_nbs_xml_no_marc_namespace.py
/20241220_nbs_id_scot_author_matched_bibrecs.xml
/add_isni_wiki_v1.py
/alma_dump
/auth100.xml
/auth100_a.xml
/auth_no_d.xml
/count_isni.py
/count_no_d.py
/find_mmsid.py
/id_discrepancies_isni_wiki.py
/isni_added_test.xml
/isni_full_query_response.xml
/isni_query_response.xml
/isni_response.xml
/isni_response_mary.xml
/isni_test.xml
/isni_test_1_rec.xml
/isni_v1
/isni_v1.xml
/isni_v2.xml
/isni_wiki_20241220_nbs_id_scot_author_matched_bibrecs.xml
/isni_wiki_discrepancies.xml
/isni_wiki_query_response.xml
/isni_wiki_v1.xml
/isni_wiki_v2.xml
/results
/scripts_not_working
/uosh_change_image_filename.py
isni2alma_errors.txt
